/* Estilos generales */
.menu-container {
  background-color: #2c9abb;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

/* Encabezado */
.header {
  margin-bottom: 20px;
}

/* Logo */
.logo {
  width: 80px;
  height: auto;
}

/* Títulos de menú y modos de juego */
.menu-title, .game-modes-title {
  background-color: #38b668;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

/* Contenedor de modos de juego */
.game-modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Modo de juego individual */
.game-mode {
  background-color: #a5d1db;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  max-width: 150px;
  text-align: center;
}

/* Imagen del modo de juego */
.game-mode-img {
  width: 100px;
  height: auto;
}

/* Título del modo de juego */
.game-mode-title {
  margin-top: 10px;
  font-size: 16px;
  color: black;
}

/* Media queries para dispositivos móviles */
@media (min-width: 4000px) {
  .menu-container {
    padding: 30px;
  }

  .game-modes {
    flex-direction: row;
    justify-content: center;
  }

  .game-mode {
    width: 100%;
    max-width: 200px;
  }
}

@media (min-width: 926px) {
  .menu-container {
    padding: 40px;
  }

  .game-modes {
    flex-direction: row;
    justify-content: center;
  }

  .game-mode {
    width: 100%;
    max-width: 250px;
  }
}
