
<div class="menu-container">
    <div class="header">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwgah2XuR3WwjWNB_A-ih6PsoXPDfg8puiWxbmUtezqt2thb0mXtWOsWkQcQu5Bz22yig&usqp=CAU" alt="Logo" class="logo">
      <div class="menu-title">Menu:</div>
      <div class="game-modes-title">Modos de juego:</div>
    </div>
    <div class="game-modes">
      <div class="game-mode">
        <img src="https://us.123rf.com/450wm/kongvector/kongvector1810/kongvector181008878/kongvector181008878.jpg?ver=6" alt="Multiplicacion" class="game-mode-img">
        <div class="game-mode-title">Multiplicacion</div>
      </div>
      <div class="game-mode">
        <img src="https://png.pngtree.com/png-vector/20190420/ourmid/pngtree-divide-vector-icon-png-image_964253.jpg" alt="Division" class="game-mode-img">
        <div class="game-mode-title">Division</div>
      </div>
    </div>
  </div>
  